footer {
    margin-top: 20px;
}

#connectionError {
    margin-left: 10px;
    /*color: red;*/
    padding: 10px;
    border-radius: 0.25rem;
    /*border: 1px solid red;*/
    /*background-color: #545b62*/
    background:#b9cd6d;
    border: 1px solid #b9cd6d;
    color: #FFFFFF;
    font-weight: bold;
}

#connectionError:hover {
    background-color: red;
    color: white;
}

#deconnection {
    color: #4745ff;
    padding: 10px;
    border-radius: 0.25rem;
    border: 1px solid #6161ff;
    background-color: #545b62;
}
.info-con{
    
    left:20px;
}

#deconnection:hover {
    background-color: #6161ff;
    color: white;
}

#isConnected {
    
    color: #9fcdff;
    padding: 5px 15px;
    border-radius: 0.25rem;
    border: 1px solid #9fcdff;
    background-color: #545b62
}

#isInvited{
    
    color: #e4f0df;
    padding: 5px 15px;
    border-radius: 0.25rem;
    border: 1px solid #9fcdff;
    background-color: #545b62
}

.mini-logo{
    font-size: 10px;
    margin-left: 5px;
    font-style: italic;
}

.green{
    color: #1e7e34;
}

#search-area{
    width: 100%;
    max-width:800px;
}

#search-input{
    width:45%;
    min-width: 220px;
}


.margin{
    margin: 20px;
}
.padding{
    padding: 20px;
}

.group-btn-basket{
    display: flex;
    justify-content: space-around;
    padding: 15px;
}

#quantity-in-basket{
    font-size: 0.6em;
    color: #4b21ff;
    background-color: #9fcdff;
}