#main-subscription {
    text-align: center;

}

.form-group {
    margin: auto;
}

.jumbotron {
    padding: 5px !important;
}

.radio {
    padding: 10px;
}

#block-btn-subscription {
    text-align: center;
}

.radio > label {
    padding: 5px;
}

.list-group-item:hover {
    background: linear-gradient(#f8fbeb, #bcbdbd);
    border:1px solid white ;
    border-top : 0;
}

.list-group-item {
    margin-bottom: 20px;
}

#btn-paypal-subscription {
    display: none;
}

.subscription-description {
    font-size: 1em;
    color: #302b24;
    font-style: italic;
}