

.jumbotron{
    padding: 30px !important;
}

.valeur{
    font-style: italic;
    font-size: 0.8em;
    color: #323a49;
}

html {
  max-width: 100%; 
}
.description{
    font-style: italic;
    color: #323a49;
}

#abort-day-left{
    font-style: italic;
    color:blue;
    font-size: 0.8em;
}