#buy-list{
    padding: 20px;
    border-radius: 5px 5px;
    background: linear-gradient(#302b24, #2d2733);
    border: 1px solid blanchedalmond;
    box-shadow: 5px 5px 5px grey;
    color: white;
    margin-bottom: 40px;
}

.li-video{
    list-style-type: none;
    color: black;
}

#total-achat{
   text-align: center;
}

#span-total-achat{
    margin: 30px;
    padding : 15px;
    border : 1px black solid;
    box-shadow: 5px 5px 5px grey;
    border-radius: 5px 5px;
    background: linear-gradient(#f9fffb, #b4ffec);
}

#grp-btn-achat{
    margin-top: 50px;
    justify-content: center;
}

.row{
    text-align: center;
}

#title{
    margin:20px;
}

#results>ul{
    border-radius: 5px 5px;
    box-shadow: 5px 5px 5px grey;
    margin-top: 20px;
    background: linear-gradient(#302b24, #2d2733);
    padding: 20px;
}

#results{
    margin-bottom: 60px;
}