.video{
    background-color: #9fcdff;
}

.title-vid{
    margin-top:10px;
    text-align: center;
}

.add-to-basket {
    background-color: darkorange;
}

textarea#comment{
    width:100%;
    padding: 10px;
}

