
.description_box {
    background-image: linear-gradient(to right, #2784C2, #2784C2);
    color: aliceblue;
    
    
}

.parag {
    margin: 50px;
    margin-left: 130px;
    margin-top: 90px;
}

.img-carousel-home {
    width: 100%;
    
}

#price {
    text-align: right;
}

.card-title:hover{
    text-decoration-line: none;
}

#buy_it{
    display: none;
    margin-top: 20px;
    padding: 5px;
    border-radius: 5px 5px;
    background-color: #9fcdff;
    border: 1px white solid;
}

#search-result{
    padding-top: 20px;
}