nav {
    box-shadow: 0px 2px 5px 2px #545b62;
}

footer {
    margin-top: 20px;
}

#connection-error {
    color: red;
    padding: 10px;
    border-radius: 0.25rem;
    border: 1px solid red;
    background-color: #545b62
}

#deconnection {
    color: #4745ff;
    padding: 10px;
    border-radius: 0.25rem;
    border: 1px solid #6161ff;
    background-color: #545b62;
}

