#buy-list{
    padding: 20px;
    border-radius: 5px 5px;
    background: linear-gradient(#b1dfbb,#d1ecf1);
    border: 1px solid blanchedalmond;
    box-shadow: 5px 5px 5px grey;
    margin-bottom: 40px;
}

.li-video{
    list-style-type: none;
}

#total-achat{
   text-align: center;
}

#span-total-achat{
    margin: 30px;
    padding : 15px;
    border : 1px black solid;
    box-shadow: 5px 5px 5px grey;
    border-radius: 5px 5px;
    background: linear-gradient(yellow,greenyellow);
}

#grp-btn-achat{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.btn-special-paypal{
    padding : 5px;
    border : 1px black solid;
    box-shadow: 5px 5px 5px grey;
    border-radius: 5px 5px;
    background: linear-gradient(#ff8f11, #ff6028);
}

.btn-special-cb{
    padding : 5px;
    border : 1px black solid;
    box-shadow: 5px 5px 5px grey;
    border-radius: 5px 5px;
    background: linear-gradient(#6886ff, #53ff43);
}