#listing {
    margin: 30px auto;

}

.div-video{
    padding-bottom: 20px;
}

a:link {
    text-decoration: none;
}

.video {
    padding: 10px 20px;
    color: #e8edf4;
    border: 1px solid #e8edf4;
    background-color: #333b47;
    margin: 15px auto;
    border-radius: 5% / 70%;
    text-align: center;
}

.video:hover {
    background-color: #9fc7aa;
}