#buy-list{
    padding: 20px;
    border-radius: 5px 5px;
    background: linear-gradient(#b1dfbb,#d1ecf1);
    border: 1px solid blanchedalmond;
    box-shadow: 5px 5px 5px grey;
    margin-bottom: 40px;
}

.li-video{
    list-style-type: none;
}

#total-achat{
   text-align: center;
}

#span-total-achat{
    margin: 30px;
    padding : 15px;
    border : 1px black solid;
    box-shadow: 5px 5px 5px grey;
    border-radius: 5px 5px;
    background: linear-gradient(yellow,greenyellow);
}

#grp-btn-achat{
    margin-top: 50px;
    justify-content: center;
}

.row{
    text-align: center;
}

#title{
    margin:20px;
}

#results>ul{
    border-radius: 5px 5px;
    box-shadow: 5px 5px 5px grey;
    margin-top: 20px;
    background: linear-gradient(#defff5, #e7c5e9);
    padding: 20px;
}